<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5qzGzLQQQFHB6Q4LvctVrsrvBbWruMLM</string>
	<key>GCM_SENDER_ID</key>
	<string>16775922154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courir1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>courir-a604f</string>
	<key>STORAGE_BUCKET</key>
	<string>courir-a604f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16775922154:ios:3d18e9efa0c0b2db25f293</string>
</dict>
</plist>